<% if user_signed_in? %>

   <%= render 'layouts/navbar' %>
<% end %>


<div class="jumbotron">
  <p id="jumbotron-text">Look in to the exciting repositary of photos</p>
</div>

<div class="container">

<% @posts.each_slice(3) do |posts| %>
 <div class="row">
   <% posts.each do |post| %>
      <div class="col-md-4">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              
              <img src="<%= post.url %>" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category"><%= post_user(post).user_name %></div>
              <h3 class="title"><%= link_to post.title , post %></h3>
             
              <p class="description">Tags: #<%= raw post.tag_list.map { |t| link_to t , tag_path(t) }.join(',#') %></p>
              <div class="post-meta"><span class="timestamp"><i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(post.created_at) %> </span>
              <span class="comments"><i class="glyphicon glyphicon-comment"></i> <%=  pluralize(post.comments.count, 'comment')  %></span>
              <span class="comments"><i class="glyphicon glyphicon-heart"></i> <%=  pluralize(post.likes.count, 'like')  %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>   
<% end %>  
     	
</div>