<!DOCTYPE html>
<html>
<head>
  <title>Picshare</title>
  
  <%= stylesheet_link_tag "welcome" unless user_signed_in? %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto' ,'Josefin Sans','Lato']
  }) %>
  
  <%= csrf_meta_tags %>
</head>
<body>





<%= render 'layouts/messages' %>

  <%= yield %>



</body>
</html>
